/* Cleaned CSS: Only classes used in index.html */
body{
  font-family: 'Cairo', sans-serif;
  margin: 0;
}

.navbar{
  height: 80px;
  width: 100%;
}
.herosection{
  background-image: url("../image/3a247991d9e7450b5a6ed75aa2d7167b.jpg");
  background-size: cover;
}
.hero-section{
  height: 90vh;
  background-color: #000000dd;
}
.wghd{
  color: #fff;
  background-color: #ffffff32;
  height: 5vh;
  padding: 10px;
  width: 18%;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.bref h6{
  font-size: 12px;
  color: #db6803;
  font-weight: bold;
}
.navbar-brand{
  color: #fff;
}
.navbar-brand:hover{
  color: #fff;
}
.nav-link{
  color: #db6803;
  font-size: 16px;
  margin-left: 12px;
  margin-right: 8px;
  font-weight: bold;
}
.nav-link:hover{
  background-color: #464c59;
  color: #db6803c2;
  border-radius: 10px;
}
.hs-title p { 
  font-size: 22px;
}
.hs-title h1 {
  font-size:70px ;
  background: linear-gradient(to right, #db6803, #ff7700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-1{
  background: linear-gradient(to right, #db6803e5, #984802);
  color: white;
  padding: 15px 25px;
  border-radius: 9999999px;
  display: inline-block;
}
.btn-1:hover{
  color: #fff;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.btn-2{
  color: #fff;
  background-color: #2a303d;
  padding: 15px 25px;
  border-radius: 9999999px;
  display: inline-block;
}
.btn-2:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
  background-color: #404654;
  color: #fff;
}
.cardo-2{
  justify-content: center;
  margin: auto;
}
.cardo i{
 color: #db6803;
 font-size: 40px;
}
.cardo:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
  background-color:rgba(40, 42, 46, 0.305);
  border-color: #382e59;
}
.abourr img{
  width:70%;
  border-radius: 20px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#navbarSupportedContent {
  background-color: #111826;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.row{
  margin-left: 0;
}
.accordion-button::after {
  display: none!important;
}
.accordion-button {
  background-color: #202836;
  color: #fff;
  border: none;
}
.accordion-button:not(.collapsed) {
  background-color: #202836;
  color: #fff;
}
.accordion-body {
  background-color: #252b3c;
  color: #fff;
}
.fotter{
  background-color: #1c2634!important;
  width: 98%;
  margin: auto;
  border-radius: 30px 30px 0 0;
}
@media (max-width: 767px) {
  
  .cardo-2{ width:100%; padding:0 10px; }
  .hero-section{ height:92vh; }
  .cardo{ width:50%; padding:0 10px; }
  .hs-title h1{ font-size:30px; padding:5px; }
  .hs-title p{ font-size:12px; padding:4px; }
  .navbar-brand{ margin-right:0; }
  .wghd{ width:60%; }
}
